//========================================================================================================================================================
body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	width: 100%;
	border-radius: toRem(25);
	background-color: $whiteColor;
	padding: toRem(30) toRem(40) toRem(50) toRem(40);
	box-shadow: toRem(0) toRem(0) toRem(25) toRem(0) rgba(173, 173, 173, 0.5);
	.lock & {
		visibility: visible;
	}
	@media (max-width: $mobile) {
		border-radius: toRem(15);
		padding: toRem(25) toRem(20) toRem(35) toRem(20);
	}
}
//========================================================================================================================================================
// Bem Code For All Top Of Popups
.top-popup {
	display: grid;
	gap: toRem(25);
	align-items: center;
	grid-template-columns: toRem(24) auto toRem(24);
	&:not(:last-child) {
		margin-bottom: toRem(34);
	}
	&__empty {
	}

	&__title {
		text-align: center;
	}

	&__cancel {
		font-size: toRem(24);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $redColor;
			}
		}
	}
}
//========================================================================================================================================================
// Condition Window Close & Open
.condition {
	max-width: toRem(1255);
	padding: toRem(25) toRem(45) toRem(45) toRem(45);
	@media (max-width: $mobile) {
		padding: toRem(25) toRem(25) toRem(45) toRem(25);
	}
	&__main {
		display: grid;
		justify-content: space-between;
		grid-template-columns: toRem(195) toRem(600) toRem(245);
		&:not(:last-child) {
			margin-bottom: toRem(60);
		}
		@media (max-width: em(1200)) {
			display: flex;
			gap: toRem(20);
			flex-wrap: wrap;
		}
		@media (max-width: $tablet) {
			flex-direction: column;
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
		}
	}

	&__column {
	}

	&__button {
		display: flex;
		margin: toRem(0) auto;
		padding: toRem(0) toRem(90);
		@media (max-width: $mobileSmall) {
			padding: toRem(0) toRem(54);
		}
	}
}
.column-condition {
	&__title {
		font-weight: 800;
		line-height: normal;
		@include adaptiveValue("font-size", 22, 18);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
	}

	&__checkboxes {
		display: grid;
		gap: toRem(10);
		align-items: start;
	}

	&__checkbox {
	}

	&__checkbox-inp {
	}

	&__input {
		width: toRem(98);
		height: toRem(35);
		text-align: center;
	}

	&__checkboxes-big {
		display: grid;
		gap: toRem(30);
		grid-template-columns: toRem(260) auto;
		@media (max-width: $tablet) {
			gap: toRem(10);
			grid-template-columns: auto;
		}
	}

	&__select {
	}
}
//========================================================================================================================================================
// Details Window Close & Open
.details {
	max-width: toRem(395);
	padding: toRem(25) toRem(45) toRem(45) toRem(45);
	@media (max-width: $mobile) {
		padding: toRem(25) toRem(25) toRem(45) toRem(25);
	}
	&__main {
		display: grid;
		gap: toRem(25);
		&:not(:last-child) {
			margin-bottom: toRem(60);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
		}
	}

	&__item {
	}

	&__button {
		width: 100%;
	}
}
.item-details {
	&__options {
		display: flex;
		flex-wrap: wrap;
		row-gap: toRem(10);
		column-gap: toRem(25);
	}

	&__title {
		font-weight: 800;
		line-height: normal;
		@include adaptiveValue("font-size", 22, 18);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
	}

	&__chekboxes {
		display: grid;
		gap: toRem(10);
		&--wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__checkbox {
	}

	&__checkbox-inp {
	}
}
//========================================================================================================================================================
// Verification Window Close & Open
.verif {
	max-width: toRem(820);
	&__top {
	}

	&__date {
		span {
			display: flex;
			line-height: normal;
			&:not(:last-child) {
				margin-bottom: toRem(5);
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 35);
		}
	}

	&__body {
		display: grid;
		gap: toRem(30);
		grid-template-columns: repeat(2, 1fr);
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
		@media (max-width: em(720)) {
			grid-template-columns: auto;
		}
	}

	&__rule {
	}

	&__button {
		display: flex;
		min-height: toRem(50);
		margin: toRem(0) auto;
		padding: toRem(0) toRem(70);
	}
}
.verif-next {
	max-width: toRem(1215);
	padding: toRem(30) toRem(40) toRem(50) toRem(40);
	@media (max-width: $mobile) {
		padding: toRem(25) toRem(20) toRem(35) toRem(20);
	}
	&__body {
		display: grid;
		gap: toRem(30);
		grid-template-columns: repeat(3, 1fr);
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: em(720)) {
			grid-template-columns: auto;
		}
	}

	&__items {
		display: grid;
		@include adaptiveValue("gap", 50, 25);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 35);
		}
	}

	&__item {
		span {
			display: flex;
			line-height: normal;
			@include adaptiveValue("font-size", 18, 16);
			&:not(:last-child) {
				margin-bottom: toRem(5);
			}
		}
	}

	&__content {
		display: flex;
		gap: toRem(14);
		align-items: center;
	}

	&__files {
	}

	&__button {
		&--active {
			color: $grenColor;
			font-size: toRem(24);
			border: toRem(1) solid $grenColor;
			@media (any-hover: hover) {
				&:hover {
					color: $grenColor;
					background-color: transparent;
				}
			}
		}
	}
}
// ========================================================================================================================================================
// Payment Window Close & Open
.payment {
	max-width: toRem(640);
	&__top {
	}

	&__body {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 35);
		}
	}

	&__methods {
		display: grid;
		gap: toRem(15);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__button {
		width: 100%;
		display: flex;
		gap: toRem(10);
		font-weight: 800;
		align-items: center;
		line-height: normal;
		border-radius: toRem(50);
		padding: toRem(10) toRem(50);
		@include adaptiveValue("font-size", 20, 14);
		transition:
			background-color 0.3s ease 0s,
			color 0.3s ease 0s;
		background-color: rgba(232, 232, 234, 0.5);
		img,
		&::before {
			display: flex;
			width: toRem(24);
			height: toRem(24);
			align-items: center;
			font-size: toRem(24);
			justify-content: center;
		}
		&--active {
			color: $whiteColor;
			background-color: $grenColor;
		}
		@media (max-width: $mobile) {
			padding: toRem(10) toRem(20);
		}
		@media (max-width: $mobileSmall) {
			gap: toRem(5);
			flex-direction: column;
			justify-content: center;
			border-radius: toRem(10);
		}
	}

	&__tip {
		line-height: normal;
		font-size: toRem(16);
		span {
			font-weight: 800;
		}
	}

	&__send {
		display: flex;
		min-height: toRem(50);
		margin: toRem(0) auto;
		padding: toRem(0) toRem(70);
		@media (max-width: $mobile) {
			min-height: toRem(45);
			padding: toRem(0) toRem(50);
		}
	}
}
// ========================================================================================================================================================
// Props Window Close & Open
.props {
	max-width: toRem(865);
	&__body {
		display: grid;
		@include adaptiveValue("gap", 30, 15);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 35);
		}
	}

	&__item {
		display: flex;
		gap: toRem(10);
		align-items: center;
		@media (max-width: em(630)) {
			align-items: start;
			flex-direction: column;
		}
	}

	&__name {
		line-height: normal;
		min-width: toRem(160);
		@include adaptiveValue("font-size", 16, 14);
	}

	&__label {
		width: 100%;
		display: flex;
		gap: toRem(10);
		align-items: center;
		@media (max-width: $mobileSmall) {
			flex-direction: column;
		}
	}

	&__select {
		width: 100%;
		max-width: toRem(210);
		@media (max-width: $mobile) {
			font-size: toRem(16);
		}
		@media (max-width: $mobileSmall) {
			max-width: 100%;
		}
	}

	&__input {
		width: 100%;
	}
}
// ========================================================================================================================================================
// Go Window Close & Open
.go {
	max-width: toRem(745);
	&__top {
	}

	&__body {
		display: grid;
		gap: toRem(30);
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
		@media (max-width: $mobile) {
			gap: toRem(20);
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}

	&__label {
		.main-contact__textarea {
			height: toRem(200);
		}
	}

	&__date {
		display: grid;
		gap: toRem(5);
		span {
			line-height: normal;
			@include adaptiveValue("font-size", 18, 16);
		}
	}

	&__span {
		display: flex;
		line-height: normal;
		@include adaptiveValue("font-size", 18, 16);
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
	}

	&__textarea {
	}

	&__pin {
	}

	&__send {
		display: flex;
		margin: toRem(0) auto;
		padding: toRem(0) toRem(34);
	}
}
// ========================================================================================================================================================
// Add Window Close & Open
.add {
	max-width: toRem(470);
	&__top {
	}

	&__body {
		display: grid;
		gap: toRem(15);
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}

	&__label {
	}

	&__input {
	}

	&__button {
		width: 100%;
	}
}
// ========================================================================================================================================================
