// ========================================================================================================================================================
//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn
.button {
	gap: toRem(10);
	font-weight: 800;
	padding: 0px 0px;
	height: toRem(44);
	align-items: center;
	display: inline-flex;
	justify-content: center;
	border-radius: toRem(25);
	transition:
		background-color 0.3s ease 0s,
		color 0.3s ease 0s;
	@include adaptiveValue("font-size", 20, 15);
	&::before {
		display: flex;
		width: toRem(24);
		height: toRem(24);
		align-items: center;
		font-size: toRem(24);
		justify-content: center;
	}
	&--green {
		color: $whiteColor;
		background-color: $grenColor;
		@media (any-hover: hover) {
			&:hover {
				background-color: $blueColor;
			}
		}
	}
	&--green-big {
		height: toRem(58);
		color: $whiteColor;
		border-radius: toRem(50);
		background-color: $grenColor;
		@media (any-hover: hover) {
			&:hover {
				background-color: $blueColor;
			}
		}
	}
	&--white {
		background-color: $whiteColor;
		@media (any-hover: hover) {
			&:hover {
				color: $whiteColor;
				background-color: $darkGrayColor;
			}
		}
	}
	&--blue {
		font-weight: 800;
		height: toRem(45);
		color: $whiteColor;
		line-height: normal;
		border-radius: toRem(50);
		padding: toRem(0) toRem(25);
		background-color: $blueColor;
		transition: background-color 0.15s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $grenColor;
			}
		}
	}
	&--fw {
		width: 100%;
	}
}
// ========================================================================================================================================================
