//========================================================================================================================================================
// Checkbox
.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus-visible + .checkbox__label:before {
			box-shadow: 0 0 5px #000;
		}
		&:checked + .checkbox__label:before {
			background: #000;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		position: relative;
		gap: 10px;
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			border: 1px solid #a7a9ac;
		}
	}
	// .checkbox__text
	&__text {
		align-self: center;
	}
}
// ========================================================================================================================================================
// Checkbox Like Option
.checkbox-opt {
	position: relative;
	cursor: pointer;
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:focus-visible + .checkbox-opt__label:before {
			box-shadow: 0 0 5px #000;
		}
		&:checked + .checkbox-opt__label:before {
		}
		&:checked + .checkbox-opt__label:after {
			transform: scale(1);
		}
	}

	&__label {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		gap: 7px;
		&:before {
			content: "";
			margin-top: toRem(4);
			align-self: flex-start;
			width: 18px;
			height: 18px;
			flex: 0 0 18px;
			border-radius: toRem(4);
			border: 1px solid $grenColor;
		}
		&:after {
			@extend %ic;
			display: flex;
			content: "\e91b";
			color: $whiteColor;
			font-size: toRem(18);
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease 0s;
			transform: scale(0);
			width: 18px;
			height: 18px;
			border-radius: toRem(4);
			background-color: $grenColor;
			position: absolute;
			left: 0px;
			top: 4px;
		}
		&--white {
			&::before {
				border: 1px solid $whiteColor;
			}
		}
		&--reverse {
			flex-direction: row-reverse;
			&::after {
				right: 0;
				margin: toRem(0) toRem(0) toRem(0) auto;
			}
		}
		@media (max-width: $mobile) {
			&::before {
				margin-top: toRem(2.5);
			}
			&::after {
				top: 2.5px;
			}
		}
	}

	&__text {
		line-height: normal;
		@media (max-width: $mobile) {
			font-size: toRem(16);
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(14);
		}
	}
}
//========================================================================================================================================================
