// ========================================================================================================================================================
//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	display: block;
	height: toRem(45);
	padding: 0px 20px;
	border-radius: toRem(25);
	border: 1px solid $grayColor;
	&::placeholder {
		color: $mainColor;
	}
	&._form-focus {
	}
	&._form-error {
	}
	&--min {
		width: toRem(98);
		height: toRem(35);
		padding: toRem(0) toRem(50) toRem(0) toRem(10);
		@media (max-width: $mobile) {
			width: toRem(90);
			height: toRem(30);
		}
	}
	@media (max-width: $mobile) {
		height: toRem(38);
		font-size: toRem(16);
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
// ========================================================================================================================================================
