// ========================================================================================================================================================
// Account
.account {
	@include adaptiveValue("padding-top", 60, 45);
	@include adaptiveValue("padding-bottom", 80, 45);
	&__container {
	}

	&__top {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
	}

	&__title {
	}

	&__subtitle {
		line-height: normal;
		margin-top: toRem(15);
		@include adaptiveValue("font-size", 18, 16);
	}

	&__body {
		max-width: toRem(460);
		margin: toRem(0) auto;
		border-radius: toRem(10);
		border: toRem(1) solid $blueColor;
		padding: toRem(25) toRem(30) toRem(45) toRem(30);
		&--without {
			border: toRem(1) solid transparent;
			padding: toRem(0) toRem(30) toRem(45) toRem(30);
		}
		@media (max-width: $mobile) {
			padding: toRem(15);
		}
	}

	&__form {
		&:not(:last-child) {
			margin-bottom: toRem(80);
		}
	}

	&__bottom {
		display: flex;
		gap: toRem(15);
		align-items: center;
		flex-direction: column;
	}

	&__create {
		font-weight: 800;
		color: $grenColor;
		line-height: normal;
		text-decoration-line: underline;
		@include adaptiveValue("font-size", 18, 16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__forgot {
		line-height: normal;
		text-decoration-line: underline;
		@include adaptiveValue("font-size", 18, 16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__code {
		transition: color 0.3s ease 0s;
		@include adaptiveValue("font-size", 18, 16);
		@media (any-hover: hover) {
			&:hover {
				color: $blueColor;
				text-decoration: underline;
			}
		}
	}
}
.form-account {
	&__label {
		display: flex;
		position: relative;
		flex-direction: column;
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}

	&__item {
	}

	&__input {
		outline: none;
		&--password {
			padding-left: toRem(20);
			padding-right: toRem(65);
			@media (max-width: $mobile) {
				padding-right: toRem(45);
			}
		}
	}

	&__opt {
		top: 0;
		bottom: 0;
		right: toRem(30);
		width: toRem(24);
		color: $grenColor;
		height: toRem(24);
		position: absolute;
		font-size: toRem(24);
		margin: auto toRem(0);
		&.eye-form {
			transition: color 0.3s ease 0s;
			&--active {
				&::before {
					content: "\e921";
				}
			}
			@media (any-hover: hover) {
				&:hover {
					color: $grayColor;
				}
			}
		}
		@media (max-width: $mobile) {
			right: toRem(15);
		}
	}

	&__checkbox {
		margin-top: toRem(15);
		.checkbox-opt__text {
			@include adaptiveValue("font-size", 16, 14);
			a {
				color: $blueColor;
				text-decoration: underline;
				@media (any-hover: hover) {
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	&__button {
		width: 100%;
		display: flex;
		height: toRem(50);
		max-width: toRem(260);
		margin: toRem(0) auto;
		margin-top: toRem(30);
		@media (max-width: $mobile) {
			height: toRem(40);
			max-width: toRem(200);
		}
	}
}
// ========================================================================================================================================================
