//========================================================================================================================================================
// Заголовки, загальні БЕМ блоки та інше...
//========================================================================================================================================================
::-webkit-scrollbar {
	width: toRem(1);
	border-radius: toRem(10);
	background-color: $whiteColor;
}
::-webkit-scrollbar-thumb {
	border-radius: toRem(10);
	background-color: $mainColor;
}
::selection {
	background-color: rgba(#a60101, 0.5);
}
summary {
	list-style: none;
}
summary::marker,
summary::-webkit-details-marker {
	display: none;
}
//========================================================================================================================================================
// Title Styles
.title-big {
	font-weight: 800;
	color: $mainColor;
	line-height: 150.6%;
	text-transform: uppercase;
	@include adaptiveValue("font-size", 57, 30);
	&--white {
		color: $whiteColor;
		span {
			color: $grenColor;
		}
	}
}
.title-sm {
	font-weight: 800;
	line-height: normal;
	@include adaptiveValue("font-size", 24, 16);
	@media (max-width: $mobile) {
		text-align: center;
	}
	&--min {
		@include adaptiveValue("font-size", 22, 16);
		@media (max-width: $mobile) {
			text-align: left;
		}
	}
}
.title-blue {
	font-weight: 800;
	color: $blueColor;
	line-height: normal;
	font-family: "Raleway";
	&--big {
		@include adaptiveValue("font-size", 34, 18);
	}
}
.title {
	font-weight: 800;
	text-align: center;
	line-height: normal;
	font-family: "Raleway";
	@include adaptiveValue("font-size", 42, 22);
	&--mr {
		font-family: "Manrope";
		text-transform: uppercase;
		@include adaptiveValue("font-size", 48, 24);
	}
}
// ========================================================================================================================================================
// Arrow Back
.back {
	@media (max-width: $tablet) {
		display: none;
	}
	&__container {
		position: relative;
	}

	&__button {
		gap: toRem(15);
		left: toRem(15);
		font-weight: 800;
		position: absolute;
		align-items: center;
		line-height: normal;
		display: inline-flex;
		color: $darkGrayColor;
		border-radius: toRem(50);
		padding: toRem(10) toRem(25);
		background-color: rgba(232, 232, 234, 0.5);
		@include adaptiveValue("top", 45, 17, 2, $containerWidth, 991.98);
		transition:
			background-color 0.3s ease 0s,
			color 0.3s ease 0s;
		&::before {
			margin-top: toRem(1);
			font-size: toRem(17);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $whiteColor;
				background-color: $blueColor;
			}
		}
	}
}
// ========================================================================================================================================================
// Date
.date {
	display: flex;
	gap: toRem(10);
	font-weight: 700;
	align-items: center;
	&::before {
		display: flex;
		width: toRem(24);
		height: toRem(24);
		align-items: center;
		font-size: toRem(22);
		margin-top: toRem(2);
		justify-content: center;
	}
}
//========================================================================================================================================================
// Styles Of Articles Blocks
.articles {
	@media (min-width: $mobile) {
		background-color: $blueColor;
		padding: toRem(40) toRem(24);
	}
	&__items {
		display: grid;
		gap: toRem(10);
		@media (min-width: $mobile) {
			// grid-template-columns: repeat(auto-fit, minmax(toRem(520), 1fr));
			grid-template-columns: repeat(auto-fit, minmax(toRem(400), 1fr));
		}
	}

	&__item {
	}

	&__navigation {
		margin-top: toRem(40);
		@media (max-width: $mobile) {
			margin-top: toRem(25);
		}
	}
}
.item-articles {
	padding: toRem(25);
	border-radius: toRem(5);
	background-color: #fcfcfc;
	@media (max-width: $mobile) {
		padding: toRem(25) toRem(15);
		border: toRem(1) solid #dadde8;
		box-shadow: toRem(0) toRem(0) toRem(30) toRem(0) rgba(0, 0, 0, 0.1);
	}
	&__desktop {
		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__mobile {
		@media (min-width: $mobile) {
			display: none;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
	}

	&__way {
		display: flex;
		gap: toRem(5);
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}

	&__town {
		font-weight: 800;
		line-height: normal;
		@include adaptiveValue("font-size", 20, 16);
		span {
			font-weight: 400;
			font-size: toRem(16);
		}
	}

	&__line {
		width: toRem(50);
		height: toRem(1.3);
		background-color: $mainColor;
	}

	&__long {
		line-height: normal;
		font-size: toRem(16);
	}

	&__arrow {
		font-size: toRem(8.7);
	}

	&__list {
		display: flex;
		gap: toRem(15);
		flex-wrap: wrap;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
	}

	&__li {
		display: flex;
		gap: toRem(7);
		align-items: center;
		line-height: normal;
		font-size: toRem(16);
		border-radius: toRem(10);
		border: toRem(1) solid #d9d9d9;
		padding: toRem(5) toRem(15);
		&::before {
			display: flex;
			color: #5e91e0;
			width: toRem(24);
			height: toRem(24);
			align-items: center;
			justify-content: center;
		}
		&:nth-child(1) {
			&::before {
				font-size: toRem(21);
				transform: translateY(toRem(1));
			}
		}
		&:nth-child(2) {
			&::before {
				font-size: toRem(24);
			}
		}
		&:nth-child(3) {
			&::before {
				font-size: toRem(17);
				transform: translateY(toRem(1));
			}
		}
		&:nth-child(4) {
			&::before {
				font-size: toRem(19);
			}
		}
		@media (max-width: $mobile) {
			gap: toRem(5);
			font-size: toRem(14);
			padding: toRem(5) toRem(10);
			&::before {
				width: toRem(20);
				height: toRem(20);
			}
		}
	}

	&__final {
		display: flex;
		gap: toRem(10);
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}

	&__button {
		padding: toRem(0) toRem(54);
	}

	&__cost {
		text-align: right;
		margin: toRem(0) toRem(0) toRem(0) auto;
		h5 {
			font-weight: 800;
			text-align: right;
			line-height: normal;
			font-size: toRem(24);
			&:not(:last-child) {
				margin-bottom: toRem(5);
			}
		}
		span {
			line-height: normal;
			font-size: toRem(16);
		}
	}

	&__last {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__sec {
		line-height: normal;
		font-size: toRem(16);
	}

	&__icons {
		display: flex;
		gap: toRem(7);
		align-items: center;
		span {
			display: flex;
			width: toRem(24);
			height: toRem(24);
			align-items: center;
			justify-content: center;
			&:first-child {
				color: $redColor;
				font-size: toRem(20);
			}
			&:last-child {
				color: #657bd8;
				font-size: toRem(23);
			}
		}
	}
}
.mobile-item-articles {
	&__columns {
		display: flex;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__column {
	}

	&__ways {
		&:not(:last-child) {
			margin-bottom: toRem(9);
		}
	}

	&__town {
		display: flex;
		gap: toRem(5);
		font-weight: 800;
		align-items: center;
		font-size: toRem(16);
		span {
			font-weight: 400;
			font-size: toRem(14);
		}
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
	}

	&__long {
		line-height: normal;
		font-size: toRem(13);
		&:not(:last-child) {
			margin-bottom: toRem(14);
		}
	}

	&__final {
		h5 {
			font-weight: 800;
			color: $grenColor;
			line-height: normal;
			font-size: toRem(16);
		}
		span {
			line-height: normal;
			font-size: toRem(13);
		}
	}

	&__list {
		gap: toRem(5);
		display: flex;
		align-items: end;
		flex-direction: column;
	}

	&__button {
		width: 100%;
		height: toRem(40);
	}
}
// ========================================================================================================================================================
.checkbox-inp {
	display: flex;
	gap: toRem(7);
	align-items: center;
	justify-content: space-between;
	@media (max-width: $tablet) {
		justify-content: start;
	}
	&__label {
		position: relative;
		span {
			top: 0;
			bottom: 0;
			display: flex;
			right: toRem(10);
			position: absolute;
			align-items: center;
			font-size: toRem(16);
		}
	}

	&__text {
	}
}
// ========================================================================================================================================================
// Styles For Active Value Input Js
.input-actions {
	font-weight: 800;
	transition: background-color 0.3s ease 0s;
	&::placeholder {
		font-weight: 400;
	}
	&--active {
		color: $whiteColor;
		background-color: $blueColor;
	}
}
// ========================================================================================================================================================
// Styles For Contact Item
.contact-info {
	line-height: normal;
	a {
		font-weight: 600;
		color: $grenColor;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $mainColor;
			}
		}
	}
}
//========================================================================================================================================================
// Styles For Profile Grid
.grid-rofile {
	display: grid;
	gap: toRem(43);
	align-items: start;
	grid-template-columns: toRem(320) auto;
	@media (max-width: em(1240.98)) {
		grid-template-columns: auto;
	}
}
// ========================================================================================================================================================
// Styles For Rule Card Popup
.rule {
	display: flex;
	gap: toRem(10);
	align-items: center;
	&__icon {
		display: flex;
		color: $grayColor;
		align-items: center;
		font-size: toRem(60);
		min-width: toRem(140);
		min-height: toRem(140);
		justify-content: center;
		border-radius: toRem(10);
		background-color: #e8e8ea;
		&--active {
			color: $whiteColor;
			background-color: $grenColor;
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(40);
			min-width: toRem(100);
			min-height: toRem(100);
		}
	}

	&__text {
		line-height: 125%;
		@include adaptiveValue("font-size", 16, 14);
	}
}
// ========================================================================================================================================================
// Styles For Text Span
.span {
	font-weight: 800;
	color: $blueColor;
	&--black {
		color: $mainColor;
	}
	&--green {
		font-weight: 600;
		color: $grenColor;
	}
}
// ========================================================================================================================================================
// Styles For App Profile Pages
.profile-padding {
	@include adaptiveValue("padding-top", 45, 35);
	@include adaptiveValue("padding-bottom", 45, 15);
}
// ========================================================================================================================================================
// Styles For User Panel
.user {
	padding: toRem(20);
	border-radius: toRem(25);
	background-color: rgba(232, 232, 234, 0.5);
	@media (max-width: em(1240.98)) {
		display: none;
	}
	&__main {
		&:not(:last-child) {
			margin-bottom: toRem(50);
		}
	}

	&__image {
		width: 100%;
		overflow: hidden;
		border-radius: toRem(50);
		img {
			width: 100%;
			max-width: 100%;
		}
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}

	&__info {
		display: grid;
		gap: toRem(5);
	}

	&__name {
		display: flex;
		gap: toRem(5);
		font-weight: 800;
		align-items: center;
		line-height: normal;
		font-size: toRem(22);
		justify-content: start;
		flex-direction: row-reverse;
		&::before {
			color: #657bd8;
			font-size: toRem(20);
		}
	}

	&__location {
		font-weight: 500;
		line-height: normal;
		color: $darkGrayColor;
	}

	&__rate {
		display: flex;
		align-items: center;
		line-height: normal;
		justify-content: space-between;
		span {
			font-weight: 800;
		}
	}

	&__stat {
		display: flex;
		gap: toRem(7);
		align-items: center;
	}

	&__navigation {
		display: grid;
		gap: toRem(20);
	}

	&__list {
		display: grid;
		gap: toRem(5);
	}

	&__item {
	}

	&__link {
		display: flex;
		gap: toRem(10);
		font-weight: 800;
		color: $grayColor;
		align-items: center;
		line-height: normal;
		font-size: toRem(20);
		border-radius: toRem(10);
		background-color: #e8e8ea;
		padding: toRem(12) toRem(15);
		transition:
			background-color 0.3s ease 0s,
			color 0.3s ease 0s;
		&::before {
			display: flex;
			width: toRem(24);
			height: toRem(24);
			align-items: center;
			font-size: toRem(24);
			justify-content: center;
		}
		&--active {
			color: $whiteColor;
			background-color: $grenColor;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #e8e8ea;
				background-color: $grayColor;
			}
		}
	}
}
// ========================================================================================================================================================
// Styles For List Type
.list-type {
	display: flex;
	gap: toRem(15);
	align-items: center;
	@media (max-width: $mobile) {
		width: 100%;
		gap: toRem(10);
	}
	&__item {
		@media (max-width: $mobile) {
			width: 100%;
		}
	}

	&__link {
		display: flex;
		font-weight: 800;
		width: toRem(180);
		line-height: normal;
		color: $darkGrayColor;
		justify-content: center;
		border-radius: toRem(50);
		padding: toRem(10) toRem(0);
		background-color: rgba(232, 232, 234, 0.5);
		@include adaptiveValue("font-size", 18, 16);
		transition:
			background-color 0.3s ease 0s,
			color 0.3s ease 0s;
		&--active {
			color: $whiteColor;
			background-color: $blueColor;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $whiteColor;
				background-color: $grenColor;
			}
		}
		@media (max-width: $mobile) {
			width: 100%;
			padding: toRem(8) toRem(0);
		}
	}
}
// ========================================================================================================================================================
// Styles For Top Of Profile Actions And Title
.top-profile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__title {
	}

	&__button {
		padding: toRem(0) toRem(28);
	}

	&__types {
		display: flex;
		gap: toRem(10);
		align-items: center;
		@media (max-width: $mobile) {
			width: 100%;
		}
	}

	&__type {
		display: flex;
		font-weight: 800;
		height: toRem(48);
		line-height: normal;
		align-items: center;
		justify-content: center;
		border-radius: toRem(50);
		transition:
			background-color 0.3s ease 0s,
			color 0.3s ease 0s;
		background-color: rgba(232, 232, 234, 0.5);
		@include adaptiveValue("font-size", 20, 16);
		&--active {
			color: $whiteColor;
			background-color: $grenColor;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $whiteColor;
				background-color: $blueColor;
			}
		}
		@media (min-width: $mobile) {
			min-width: toRem(210);
		}
		@media (max-width: $mobile) {
			width: 100%;
			height: toRem(40);
		}
	}
}
// ========================================================================================================================================================
// Styles For Button Pin
.button-pin {
	display: flex;
	width: toRem(44);
	color: $blueColor;
	height: toRem(44);
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	border: toRem(1) solid $blueColor;
	transition:
		background-color 0.3s ease 0s,
		color 0.3s ease 0s;
	@include adaptiveValue("font-size", 20, 16);
	@media (any-hover: hover) {
		&:hover {
			color: $whiteColor;
			background-color: $blueColor;
		}
	}
	&--green {
		color: $grenColor;
		border: toRem(1) solid $grenColor;
		@media (any-hover: hover) {
			&:hover {
				color: $grenColor;
				background-color: transparent;
			}
		}
	}
}
// ========================================================================================================================================================
// Styles For Button Circle & File
.button-circle {
	display: flex;
	border-radius: 50%;
	align-items: center;
	min-width: toRem(48);
	font-size: toRem(20);
	min-height: toRem(48);
	justify-content: center;
	transition:
		background-color 0.3s ease 0s,
		color 0.3s ease 0s;
	&--red {
		color: $redColor;
		background-color: $whiteColor;
		@media (any-hover: hover) {
			&:hover {
				color: $whiteColor;
				background-color: $redColor;
			}
		}
	}
	&--green {
		color: $grenColor;
		font-size: toRem(24);
		background-color: $whiteColor;
		@media (any-hover: hover) {
			&:hover {
				color: $whiteColor;
				background-color: $grenColor;
			}
		}
	}
	&--gray {
		color: $redColor;
		font-size: toRem(24);
		background-color: rgba(#e8e8ea, 0.5);
		@media (any-hover: hover) {
			&:hover {
				color: $whiteColor;
				background-color: $redColor;
			}
		}
	}
	&--gray-g {
		color: $grayColor;
		font-size: toRem(24);
		background-color: rgba(#e8e8ea, 0.5);
		@media (any-hover: hover) {
			&:hover {
				color: $whiteColor;
				background-color: $redColor;
			}
		}
	}
	@media (max-width: $mobileSmall) {
		font-size: toRem(19);
		min-width: toRem(39);
		min-height: toRem(39);
	}
}
// ========================================================================================================================================================
// Styles For Files
.files {
	display: flex;
	gap: toRem(10);
	align-items: center;
	&__file {
		display: flex;
		width: toRem(44);
		height: toRem(44);
		border-radius: 50%;
		position: relative;
		align-items: center;
		font-size: toRem(18);
		justify-content: center;
		color: rgba(0, 0, 0, 0.5);
		background-color: #e8e8ea;
	}

	&__close {
		top: toRem(-3);
		right: toRem(-5);
		width: toRem(18);
		height: toRem(18);
		border-radius: 50%;
		position: absolute;
		color: $whiteColor;
		background-color: $blueColor;
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $redColor;
			}
		}
	}

	&__name {
		line-height: 125%;
		font-size: toRem(16);
	}
}
// ========================================================================================================================================================
// Styles For Navigation
.navigation {
	display: flex;
	gap: toRem(14);
	align-items: center;
	&--center {
		justify-content: center;
	}
	@media (max-width: $mobile) {
		gap: toRem(20);
		justify-content: center;
	}
	&--green {
		.navigation__button {
			color: $grenColor;
			@media (any-hover: hover) {
				&:hover {
					color: $whiteColor;
				}
			}
		}
		.navigation__link {
			color: $mainColor;
			&--active {
				color: $whiteColor;
			}
		}
	}
	&__button {
		display: flex;
		gap: toRem(10);
		font-weight: 800;
		color: $whiteColor;
		line-height: normal;
		align-items: center;
		font-size: toRem(16);
		border-radius: toRem(50);
		padding: toRem(7) toRem(15);
		border: toRem(1) solid $grenColor;
		transition: background-color 0.2s ease 0s;
		&::before {
			font-size: toRem(13);
			transform: translateY(toRem(1));
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $grenColor;
			}
		}
		@media (max-width: $mobile) {
			width: toRem(40);
			height: toRem(40);
			color: $mainColor;
			span {
				display: none;
			}
			&--prev {
				padding-left: toRem(13);
			}
			&--next {
				padding-right: toRem(13);
			}
		}
		&--prev {
		}

		&--next {
			flex-direction: row-reverse;
			&::before {
				transform: rotate(-180deg);
			}
		}
	}

	&__list {
		display: flex;
		gap: toRem(10);
		align-items: center;
		@media (max-width: $mobile) {
			gap: toRem(5);
		}
	}

	&__item {
	}

	&__link {
		display: flex;
		width: toRem(31);
		font-weight: 800;
		height: toRem(31);
		color: $whiteColor;
		border-radius: 50%;
		align-items: center;
		font-size: toRem(16);
		justify-content: center;
		&--active {
			background-color: $grenColor;
		}
		@media (max-width: $mobile) {
			width: toRem(27);
			height: toRem(27);
			color: $mainColor;
			font-size: toRem(14);
			&--active {
				color: $whiteColor;
			}
		}
	}
}
// ========================================================================================================================================================
// Styles For Datepicker
.datepicker {
	&__span {
		display: flex;
		line-height: normal;
		span {
			opacity: 0;
			visibility: hidden;
		}
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
		@media (max-width: $mobile) {
			font-size: toRem(14);
		}
	}

	&__label {
		display: flex;
		position: relative;
	}

	&__icon {
		top: 0;
		bottom: 0;
		display: flex;
		left: toRem(15);
		width: toRem(24);
		height: toRem(24);
		color: $grenColor;
		position: absolute;
		align-items: center;
		font-size: toRem(24);
		margin: auto toRem(0);
		justify-content: center;
		@media (max-width: $mobile) {
			left: toRem(12);
			width: toRem(20);
			height: toRem(20);
			font-size: toRem(20);
		}
	}

	&__input {
		font-weight: 800;
		width: toRem(250);
		color: $whiteColor;
		font-size: toRem(21);
		min-height: toRem(45);
		border-radius: toRem(25);
		background-color: $blueColor;
		padding: toRem(0) toRem(20) toRem(0) toRem(50);
		@media (max-width: $mobile) {
			font-size: toRem(16);
			min-height: toRem(38);
			padding: toRem(0) toRem(20) toRem(0) toRem(40);
		}
	}
}
// ========================================================================================================================================================
/*
<div class="item-articles__last">
	<div class="item-articles__sec">48 секунд назад</div>
	<div class="item-articles__icons"><span class="_icon-favorite-empty"></span><span class="_icon-verified"></span></div>
</div>
*/
//========================================================================================================================================================
