// ========================================================================================================================================================
// Request
.request {
	@include adaptiveValue("margin-top", 64, 45);
	&__container {
	}

	&__top {
		display: flex;
		gap: toRem(15);
		align-items: center;
		justify-content: space-between;
		border-bottom: toRem(1) solid #e8e8ea;
		@include adaptiveValue("padding-bottom", 15, 30);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 64, 50);
		}
		@media (max-width: $mobile) {
			align-items: start;
			flex-direction: column;
		}
	}

	&__title {
	}

	&__list {
	}

	&__body {
		display: grid;
		gap: toRem(40);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 40);
		}
	}

	&__item {
	}

	&__button {
		display: flex;
		justify-content: center;
		a {
			height: toRem(68);
			font-size: toRem(24);
			border-radius: toRem(50);
			padding: toRem(0) toRem(88);
		}
		@media (max-width: $mobile) {
			a {
				height: toRem(40);
				font-size: toRem(18);
				padding: toRem(0) toRem(50);
			}
		}
	}
}
.item-request {
	display: grid;
	border-top: toRem(1) solid #e8e8ea;
	grid-template-columns: toRem(40) 1fr;
	border-bottom: toRem(1) solid #e8e8ea;
	border-radius: toRem(10) toRem(0) toRem(0) toRem(10);
	@media (max-width: $mobile) {
		border-radius: toRem(10);
		grid-template-columns: auto;
		border: toRem(1) solid #e8e8ea;
	}
	&__number {
		display: flex;
		font-weight: 800;
		color: $whiteColor;
		line-height: 150.6%;
		align-items: center;
		font-size: toRem(28);
		justify-content: center;
		border-radius: toRem(10);
		text-transform: uppercase;
		background-color: $grenColor;
		@media (max-width: $mobileSmall) {
			height: toRem(35);
			font-size: toRem(20);
		}
	}

	&__content {
		padding: toRem(32) toRem(20) toRem(32) toRem(60);
		@media (max-width: em(1140)) {
			padding: toRem(25) toRem(20) toRem(25) toRem(25);
		}
		@media (max-width: $mobile) {
			padding: toRem(30) toRem(12) toRem(30) toRem(12);
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(20) toRem(12) toRem(25) toRem(12);
		}
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}

	&__select {
		width: 100%;
	}

	&__label {
	}

	&__span {
		display: flex;
		line-height: normal;
		span {
			opacity: 0;
			visibility: hidden;
		}
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
		@media (max-width: $mobile) {
			font-size: toRem(14);
		}
	}

	&__add {
		line-height: normal;
		color: $darkGrayColor;
		margin-top: toRem(10);
		text-decoration-line: underline;
		@media (max-width: $mobile) {
			font-size: toRem(16);
		}
	}
}
// ========================================================================================================================================================
.item-request-first {
	&__content {
		display: flex;
		@include adaptiveValue("gap", 50, 20, 0, $containerWidth, 991.98);
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}

	&__select {
		width: 100%;
		max-width: toRem(450);
	}

	&__datepicker {
	}
}
.item-request-second {
	&__content {
	}

	&__main {
		display: flex;
		@include adaptiveValue("gap", 50, 20, 0, $containerWidth, 991.98);
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
		@media (max-width: em(1060)) {
			flex-direction: column;
		}
	}

	&__selects {
		display: flex;
		flex: 1 1 100%;
		@include adaptiveValue("gap", 50, 20, 0, $containerWidth, 991.98);
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}

	&__select {
		flex: 1 1 100%;
		max-width: toRem(352);
		@media (max-width: $mobile) {
			max-width: 100%;
		}
	}

	&__info {
		display: flex;
		flex: 1 1 100%;
		&.info-max-gap {
			@include adaptiveValue("gap", 50, 20, 0, $containerWidth, 991.98);
		}
		&.info-min-gap {
			gap: toRem(15);
		}
		@media (max-width: em(615)) {
			flex-wrap: wrap;
		}
	}

	&__input {
		max-width: toRem(125);
	}

	&__bottom {
		display: grid;
		grid-template-columns: toRem(175) auto;
		@include adaptiveValue("gap", 50, 20, 0, $containerWidth, 991.98);
		@media (max-width: em(615)) {
			grid-template-columns: auto;
		}
	}

	&__options {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: em(615)) {
			gap: toRem(10);
		}
	}

	&__optional {
		align-self: start;
		align-items: start;
		justify-items: start;
	}

	&__opt {
		&:not(:last-child) {
			margin-bottom: em(10);
		}
	}
}
.item-request-third {
	&__content {
	}

	&__body {
		display: flex;
		@include adaptiveValue("gap", 50, 20, 0, $containerWidth, 991.98);
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}

	&__options {
		display: flex;
		flex: 1 1 auto;
		align-items: end;
		@include adaptiveValue("gap", 50, 20, 0, $containerWidth, 991.98);
		@media (max-width: $mobile) {
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__input {
	}

	&__currency {
		max-width: toRem(162);
		@media (max-width: $mobileSmall) {
			max-width: 100%;
		}
	}

	&__condition {
		position: relative;
	}

	&__label {
	}

	&__inp {
		max-width: toRem(125);
	}

	&__all {
		padding: toRem(0) toRem(53) toRem(0) toRem(20);
	}

	&__details {
		position: relative;
		@media (max-width: $mobile) {
			width: 100%;
			.item-request__span {
				display: none;
			}
		}
	}

	&__button {
		@media (max-width: $mobile) {
			width: 100%;
		}
	}
}
.item-request-four {
	&__content {
	}

	&__body {
		display: flex;
		align-items: end;
		@include adaptiveValue("gap", 50, 20, 0, $containerWidth, 991.98);
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}

	&__label {
		width: 100%;
		@include adaptiveValue("max-width", 300, 200, 2, $containerWidth, 991.98);
	}

	&__input {
		width: 100%;
	}
}
.item-request-five {
	&__content {
		padding: toRem(60) toRem(20) toRem(60) toRem(60);
		@media (max-width: em(1140)) {
			padding: toRem(30) toRem(20) toRem(30) toRem(25);
		}
		@media (max-width: $mobile) {
			padding: toRem(30) toRem(12) toRem(30) toRem(12);
		}
	}

	&__button {
		@media (max-width: $mobile) {
			width: 100%;
		}
	}
}
// ========================================================================================================================================================
